ONTOLOGY=http://mirador.gsfc.nasa.gov/ontologies/dqss-Instances.owl
NAVIGATION=http://mirador.gsfc.nasa.gov/ontologies/DQSSNavigation.xml
NOSCREEN=NoScreening
MASKNAME=_qcmask
ORIGNAME=_orig
USECACHE=false
REJECTNAME=_rejected
USESERVLET=true
ONTOLOGYURL=http://mirador.gsfc.nasa.gov/dqssQuality/sparql/sparql.do
CACHEDIR=/var/tmp/DQSS_PROCESS/Cache_OPS
DELIMITER=And
USEREFLECTION=false
Q2STRING0=Cloud_Mask_QA:No Screening
Q2STRING1=Cloud_Mask_QA:> 66% Clear
Q2STRING2=Cloud_Mask_QA:> 95% Clear
Q2STRING3=Cloud_Mask_QA:> 99% Clear
Q1STRING0=QA_NIR:Do Not Use
Q1STRING1=QA_NIR:Marginal
Q1STRING2=QA_NIR:Good
Q1STRING3=QA_NIR:Very Good

~                                                     
