#ONTOLOGY=http://mirador.gsfc.nasa.gov/ontologies/dqss-Instances.owl
#ONTOLOGY=http://mirador-ts2.gsfc.nasa.gov/ordered.owl
ONTOLOGY=http://mirador.gsfc.nasa.gov/ontologies/dqss-MLS.owl
#NAVIGATION=http://mirador.gsfc.nasa.gov/ontologies/DQSSNavigation.xml
#NAVIGATION=http://mirador-ts2.gsfc.nasa.gov/ontologies/DQSS-AirsNavigation.xml
NAVIGATION=/var/scratch/DQSS/sparql.xml
NOSCREEN=NoScreening
MASKNAME=_qcmask
ORIGNAME=_orig
USECACHE=false
REJECTNAME=_rejected
USESERVLET=true
#AIRS:
#ONTOLOGYURL=http://mirador-ts2.gsfc.nasa.gov/dqssQuality/sparql/sparql.do
# MODIS:
ONTOLOGYURL=http://mirador-ts1.gsfc.nasa.gov/MODAPS/sparql/sparql.do
# MLS:
#ONTOLOGYURL=http://mirador.gsfc.nasa.gov/MODAPS/sparql/mls.do
CACHEDIR=/var/tmp/DQSS_PROCESS/Cache_TS2
DELIMITER=-
EXPRESSIONCACHING=true
Q2STRING0=Cloud_Mask_QA:No Screening
Q2STRING1=Cloud_Mask_QA:> 66% Clear
Q2STRING2=Cloud_Mask_QA:> 95% Clear
Q2STRING3=Cloud_Mask_QA:> 99% Clear
Q1STRING0=QA_NIR:Do Not Use
Q1STRING1=QA_NIR:Marginal
Q1STRING2=QA_NIR:Good
Q1STRING3=QA_NIR:Very Good
PREFIX=PREFIX dqss: <http://dataquality.esipfed.org/2/dqss#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX dc: <http://purl.org/dc/elements/1.1/> PREFIX xsd: <http://www.w3.org/TR/xmlschema/#> PREFIX dqssinstances: <http://dataquality.esipfed.org/dqss-instances#>
ONBOARDCONFIG=OnBoard.cfg

# MODIS:
#ONBOARDPROPERTIES=mod04exp.properties

# MLS:
ONBOARDPROPERTIES=mlsexp.properties
USEPROPFORDESCRIBEEXPR=true
